<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
</head>
<body>
    <h2>공지사항</h2>
    <a href="/semi/notice/insert" class="btn btn-primary">등록하기</a>
    <form th:action="@{/semi/notice/insertForm}" method="get">
        <table border="1">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성날짜</th>
                <th>수정하기</th>
                <th>삭제하기</th>
            </tr>
            <tr th:each="notice, iterStat : ${notices}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${notice.title}"></td>
                <td th:text="${#dates.format(notice.createdTime, 'yyyy-MM-dd HH:mm')}"></td>
                <td>
                    <form th:action="@{/semi/notice/update/{id}(id=${notice.id})}" method="get">
                        <input type="submit" value="수정하기">
                    </form>
                </td>
                <td>
                    <form th:action="@{/semi/notice/delete/{id}(id=${notice.id})}" method="post">
                        <input type="submit" value="삭제하기">
                    </form>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>