<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/form.js}" ></script>
</head>
<body>
<div class="content" layout:fragment="content">

    <div class="lectureMain">

        <!--사이드 nav -->
        <div class="side">
            <div class="flex-shrink-0 p-3">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                    </svg>
                    <span class="fs-5 fw-semibold">수강</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" aria-current="page">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                            수강신청
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                            수강 조회
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--학생정보 Form : 현재 로그인되어 있는 학생 정보 보여주기-->
        <div class="lectureApplicationForm">
            <h1>학생 정보</h1>
            <table class="table" >
                <tr>
                    <th>ID</th>
                    <th>이름</th>
                    <th>학과</th>
                    <th>학년</th>
                    <th>학기</th>
                </tr>
                <tr th:each="student : ${studentLogin}" th:object="${student}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{department.name}"></td>
                    <td th:text="*{academicYear}"></td>
                    <td th:text="*{semester}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>