<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>성적조회(학생)</title>
</head>
<body>
    <form method="get" th:action>
        <table border="1">
            <tr>
                <th>순번</th>
                <th>과목코드</th>
                <th>과목명</th>
                <th>점수</th>
                <th>등급</th>
                <th>이수여부</th>
            </tr>
            <tr th:each="grade, iterStat : ${gradeDto}" th:object="${gradeDto}">
                <td th:text="${iterStat.count}"></td>
                <td th:each="subject : *{subjectDtoList}">
                    <span th:text="${subject.subjectId}"></span>
                    <span th:text="${subject.subjectName}"></span>
                </td>
                <td th:text="*{score}"></td>
                <td th:text="*{grade}"></td>
                <td th:text="*{complete}"></td>
            </tr>
        </table>
    </form>
</body>
</html>